<figure class="hero">
    <img src="images/coffee_1.png" alt="Refreshing snack!" />
</figure>
<section>
    <h2>Addons</h2>
    <form method="POST" action="order-items">
        <select name="addonId" onchange="this.form.submit();">
            <option disabled selected>Add-ons</option>
            {{#each addons}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
        <input type="hidden" name="itemId" value="{{itemId}}" />
        <input type="hidden" name="itemType" value="coffee" />
        <input type="submit" value="None" />
    </form>
</section>
