<figure class="hero">
    <img src="images/coffee_1.png" alt="Refreshing snack!" />
</figure>
<section>
    <h2>Addons</h2>
    <form method="POST" action="summary">
        <select onchange="this.form.submit();">
            <option disabled selected>Add-ons</option>
            <option>Skim Milk</option>
            <option>1% Milk</option>
            <option>Whole Milk</option>
            <option>Almond Milk</option>
            <option>Coconut Milk</option>
            <option>Soy Milk</option>
            <option>Cream</option>
        </select>
    </form>
</section>
