<figure class="logo">
    <img src="images/huckleberry_logo.png" alt="Huckleberry Logo" />
</figure>
<section>
    <form class="login">
        <input type="text" value="" placeholder="Email" />
        <input type="text" value="" placeholder="Password" />
        <input type="submit" value="Login" />
    </form>
    <form class="sign-up">
        <p>Don't have an account? <a href="signup.html">Sign up</a></p>
    </form>
</section>
