<figure class="hero">
    <img src="images/coffee_2.png" alt="Refreshing snack!" />
</figure>
<section>
    <h2>Menu Items</h2>
    <form method="POST" action="addons">
        <select name="itemId" onchange="this.form.submit();">
            <option disabled selected>Coffee</option>
            {{#each coffee}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
        <input type="hidden" name="itemType" value="coffee" />
    </form>
    <form method="POST" action="order-items">
        <select name="itemId" onchange="this.form.submit();">
            <option disabled selected>Pastries</option>
            {{#each pastries}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
        <input type="hidden" name="itemType" value="pastries" />
    </form>
</section>
