<figure class="wordmark">
    <img src="images/huckleberry_wordmark.png" alt="Huckleberry" />
</figure>
<section class="orders">
    <h2>Orders</h2>
    <ul>
        <li>
            <div class="customer">
                <label>Customer</label>
                <output>Elyse Coberly</output>
            </div>
            <div class="order">
                <label>Order</label>
                <output>
                    <ul class="line-items">
                        <li>
                            <span class="item">Espresso - Cream</span>
                            <span class="price">$6</span>
                        </li>
                    </ul>
                </output>
            </div>
            <div class="submittal">
                <label>Received</label>
                <output>
                    <time class="date">11.16.16</time>
                    <time class="time">11:13am</time>
                </output>
            </div>
        </li>
        <li>
            <div class="customer">
                <label>Customer</label>
                <output>Kyle Coberly</output>
            </div>
            <div class="order">
                <label>Order</label>
                <output>
                    <ul class="line-items">
                        <li>
                            <span class="item">Espresso - Cream</span>
                            <span class="price">$6</span>
                        </li>
                        <li>
                            <span class="item">Espresso - Cream</span>
                            <span class="price">$6</span>
                        </li>
                    </ul>
                </output>
            </div>
            <div class="submittal">
                <label>Received</label>
                <output>
                    <time class="date">11.16.16</time>
                    <time class="time">11:03am</time>
                </output>
            </div>
        </li>
    </ul>
</section>

