<figure class="hero">
    <img src="images/coffee_4.png" alt="Refreshing snack!" />
</figure>
<section class="order-summary">
    <h2>Order Summary</h2>
    <form method="POST" action="orders">
        <ul class="line-items">
            <li><span class="item">Americano - 1% Milk</span><span class="price">$5</span></li>
            <li><span class="item">Espresso - Cream</span><span class="price">$6</span></li>
        </ul>
        <input type="submit" value="Place Order" />
    </form>
</section>
