@font-face {
    font-family: "Museo Sans";
    src: url("../fonts/museo-sans-500.otf");
} 
@font-face {
    font-family: "Museo Sans Bold";
    src: url("../fonts/museo-sans-700.otf");
} 
@font-face {
    font-family: "Museo Sans Black";
    src: url("../fonts/museo-sans-900.otf");
} 
